nav {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: background-color;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  padding-right: 10.5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 0px 4px 1px #454545;
          box-shadow: 0px 0px 4px 1px #454545;
}

.container {
  width: 81%;
  margin: 5% auto 0 auto;
  min-height: 50vh;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: color;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards .card1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
}

.cards .img2 {
  height: 50%;
  border-radius: 50%;
}

.cards .card2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards .card2 span {
  font-size: 1.5rem;
  font-weight: 600;
  color: color;
  cursor: pointer;
}

.cards .card2 .below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card2 .below div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  width: 30%;
  gap: 4%;
}

.cards .card2 .below span {
  margin-right: 8%;
  font-size: 1rem;
  color: inherit;
  cursor: text;
}

.title {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title input {
  width: 50%;
  height: 6vh;
  background-color: background-color;
  border: none;
  outline: none;
  color: color;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 10px;
}

.title input:focus {
  outline: none;
}

.title div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title div select {
  width: auto;
  height: 6vh;
}

.spinner {
  height: 5rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 17%;
}

select {
  background-color: background-color;
  color: color;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #464646;
  outline: none;
}

.pagination {
  width: 100%;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #939292;
  padding: 2.5% 0;
}

.pagination li {
  width: 6%;
  text-align: center;
  cursor: pointer;
}

.pagination li:disabled {
  cursor: not-allowed;
}

.spinparent {
  height: 50vh;
}

.result {
  height: 50vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5%;
  }
  .title input {
    width: 80%;
    margin: 0 auto;
  }
  .title div {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5% auto 0 auto;
    gap: 2%;
  }
  .cards .card2 .below div {
    width: 40%;
    gap: 3%;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 95%;
  }
  .cards {
    width: 100%;
  }
  .cards .card1 {
    width: 10%;
  }
  .cards .card2 {
    width: 60%;
  }
  .cards .card2 p {
    display: none;
  }
  .cards .card2 .below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card2 .below div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    gap: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .img2 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 105px;
    border-radius: 50%;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pagination li {
    padding: 1% 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    cursor: pointer;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5%;
  }
  .title input {
    width: 100%;
    margin: 0 auto;
  }
  .title div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5% auto 0 auto;
    gap: 5%;
  }
  .title div select {
    margin: 2%;
  }
  .container {
    width: 95%;
  }
  .cards {
    width: 100%;
  }
  .cards .card1 h4 {
    visibility: hidden;
  }
  .cards .card2 {
    width: 60%;
  }
  .cards .card2 p {
    display: none;
  }
  .cards .card2 .below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card2 .below div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    gap: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards .img2 {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10%;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pagination li {
    padding: 1% 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    cursor: pointer;
    text-align: center;
  }
}
/*# sourceMappingURL=Nav.css.map */