nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: background-color;
  align-items: center;
  gap: 5%;
  padding-right: 10.5%;
  position: sticky;
  top: 0;
  // border-bottom: 1px solid;
  box-shadow: 0px 0px 4px 1px #454545;
}

.container {
  width: 81%;
  margin: 5% auto 0 auto;
  min-height: 50vh;
}

.cards {
  display: flex;
  height: 30vh;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: color;
  justify-content: space-around;

  .card1 {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
  }
  .img2 {
    height: 50%;
    border-radius: 50%;
  }
  .card2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    flex-direction: column;
    span {
      font-size: 1.5rem;
      font-weight: 600;
      color: color;
      cursor: pointer;
    }
    .below {
      // div {
      //   display: flex;
      //   align-items: center;
      //   gap: 2%;
      display: flex;

      div {
        display: flex;
        align-items: center;
        width: auto;
        width: 30%;
        gap: 4%;
      }

      span {
        margin-right: 8%;
        font-size: 1rem;
        color: inherit;
        cursor: text;
      }
    }
  }
}
.title {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  input {
    width: 50%;
    height: 6vh;
    background-color: background-color;
    border: none;
    outline: none;
    color: color;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
  }
  div {
    width: 40%;
    display: flex;
    justify-content: space-between;

    select {
      width: auto;
      height: 6vh;
    }
  }
}
.spinner {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 17%;
}
select {
  background-color: background-color;
  color: color;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid rgb(70, 70, 70);
  outline: none;
}
.pagination {
  width: 100%;
  margin: 0;
  justify-content: center;
  color: rgb(147, 146, 146);
  padding: 2.5% 0;

  li {
    width: 6%;
    text-align: center;
    cursor: pointer;
  }
  li:disabled {
    cursor: not-allowed;
  }
}

.spinparent {
  height: 50vh;
}

.result {
  height: 50vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and(max-width:1200px) {
  .title {
    flex-direction: column;
    gap: 5%;
    input {
      width: 80%;

      margin: 0 auto;
    }
    div {
      width: 80%;
      justify-content: center;

      margin: 5% auto 0 auto;
      gap: 2%;
    }
  }
  .cards {
    .card2 {
      .below {
        div {
          width: 40%;
          gap: 3%;
        }
      }
    }
  }
}
@media screen and(max-width:850px) {
  .container {
    width: 95%;
  }

  .cards {
    width: 100%;

    .card1 {
      width: 10%;
    }
    .card2 {
      width: 60%;
      p {
        display: none;
      }
      .below {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          width: 60%;
          gap: 5%;
          align-items: center;
        }
      }
    }
    .img2 {
      object-fit: contain;
      width: 105px;

      border-radius: 50%;
    }
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 1% 0;

      width: max-content;
      text-align: center;
      cursor: pointer;
      text-align: center;
    }
  }
}
@media screen and(max-width:500px) {
  .title {
    flex-direction: column;
    gap: 5%;

    input {
      width: 100%;

      margin: 0 auto;
    }
    div {
      select {
        margin: 2%;
      }
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      margin: 5% auto 0 auto;
      gap: 5%;
    }
  }

  .container {
    width: 95%;
  }

  .cards {
    width: 100%;

    .card1 {
      h4 {
        visibility: hidden;
      }
    }
    .card2 {
      width: 60%;
      p {
        display: none;
      }
      .below {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          width: 60%;
          gap: 5%;
          align-items: center;
        }
      }
    }
    .img2 {
      object-fit: contain;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  nav {
    justify-content: space-between;
    padding: 0 10%;
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 1% 0;

      width: max-content;
      text-align: center;
      cursor: pointer;
      text-align: center;
    }
  }
}
